{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<style>
  form div div ul {
    display: none;
  }
</style>
<div class="sm:h-screen sm:flex sm:justify-center sm:items-center bg-pbg ">
  <div
    class="relative flex flex-col justify-center items-center w-full sm:w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 h-full sm:h-5/6 md:h-2/3 bg-[#e5e9ec] sm:rounded-xl overflow-hidden">
    <div class="switch__circle absolute w-96 h-96 rounded-full -bottom-1/3 -left-1/3 shadow-inset-8/12">
    </div>
    <div class="switch__circle switch__circle--t absolute w-96 h-96 rounded-full -top-1/3 left-3/4 shadow-inset-8/12">
    </div>
    <div class="flex justify-between items-center flex-col w-full h-full p-4 md:p-8 lg:p-12">
      <img src="{{ asset('img/LogoEcam.png') }}" alt="LogoEcam.png" width="140px" class="z-10 ">
      <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold leading-loose text-[#181818] md:mb-4">Inscription</h1>
      {% for flash_error in app.flashes('verify_email_error') %}
      <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
      {% endfor %}

      {{ form_errors(registrationForm) }}

      {{ form_start(registrationForm, {
      'attr': {
      'class': 'flex flex-col md:gap-3 justify-between items-center w-full h-full'
      }
      }) }}
      <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
        {{ form_row(registrationForm.firstName, {
        'attr': {
        'class': 'input-text z-10',
        }
        }) }}
        {{ form_row(registrationForm.lastName, {
        'attr': {
        'class': 'input-text z-10',
        }
        }) }}
        {{ form_row(registrationForm.email, {
        'attr': {
        'class': 'input-text z-10',
        }
        }) }}
        {{ form_row(registrationForm.job, {
        'attr': {
        'class': 'input-text z-10',
        }
        }) }}
        {{ form_row(registrationForm.codeInstitution, {
        'attr': {
        'class': 'input-text z-10',
        }
        }) }}
        {{ form_row(registrationForm.institution, {
        'attr': {
        'class': 'input-text z-10',
        }
        }) }}
        {{ form_row(registrationForm.plainPassword.first, {
        'attr': {
        'class': 'input-text z-10',
        }
        }) }}
        {{ form_row(registrationForm.plainPassword.second, {
        'attr': {
        'class': 'input-text z-10',
        }
        }) }}
        {# {{ form_row(registrationForm.checkPassword, {
        'attr': {
        'class': 'input-text',
        }
        }) }} #}
      </div>
      {# <div class="flex items-center h-5 mt-2 mr-auto">
        {{ form_row(registrationForm.agreeTerms) }}
      </div> #}

      <button type="submit" class="btn-login">S'inscrire</button>
      {{ form_end(registrationForm) }}
      <p class="z-10 absolute bottom-3 text-sm mx-auto h-11 leading-loose font-bold">Avez-vous déjà un compte?
        <a href="{{ path('app_login') }}" class="cursor-pointer underline hover:text-pred transition duration-150">Se
          connecter</a>
      </p>
    </div>
  </div>

</div>
{% endblock %}