<div class="text-lg text-center font-bold p-2 border-b">Créer un nouveau pictogramme</div>

{{ form_start(pictogramForm, {
'attr': {
'class': 'flex flex-col md:gap-3 justify-between items-center w-full h-full'
}
}) }}
<div class="w-full grid grid-cols-1 md:grid-cols-2 sm:gap-2 md:gap-4">
  {{ form_row(pictogramForm.title, {
  'attr': {
  'class': 'input-text z-10',
  }
  }) }}
  {{ form_row(pictogramForm.type, {
  'attr': {
  'class': 'input-text z-10',
  }
  }) }}
  {{ form_row(pictogramForm.illustration, {
  'attr': {
  'class': 'input-text z-10',
  }
  }) }}
  {{ form_row(pictogramForm.category, {
  'attr': {
  'class': 'input-text z-10',
  }
  }) }}
  {{ form_row(pictogramForm.tags, {
  'attr': {
  'class': 'input-text z-10',
  }
  }) }}
  {# {{ form_row(pictogramForm.noteComment, {
  'attr': {
  'class': 'input-text z-10',
  }
  }) }} #}
</div>

<button type="submit" class="btn-b">Valider</button>
{{ form_end(pictogramForm) }}