<table class="table w-full">
  <thead>
    <tr class="  border-b">
      <th class="text-lg flex justify-center items-center">
        <span class=" mx-auto">
          Dossier
          <a class="hover:text-pred trasition duration-150 ease-in-out"
            href="{{ path( 'therapist_patients_get_one', { code: code } ) }}">{{ code }}</a>
        </span>
        {% if patient.isActive %}
        {% include "therapist/_actions_header.html.twig" with {
        path1: 'therapist_patients_update_one',
        path2: 'therapist_patients_deactivate_one',
        code: patient.code
        } %}
        {% endif %}
      </th>
    </tr>
  </thead>
  <tbody class="flex flex-col gap-2">
    <tr
      class="flex flex-row flex-wrap gap-1 lg:gap-0 justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
      <th class="text-start w-[40%] lg:w-[20%]">Prénom</th>
      <td class="text-start w-[45%] lg:w-[30%]">{{ patient.firstName}}</td>
      <th class="text-start w-[40%] lg:w-[20%]">Nom</th>
      <td class="text-start w-[45%] lg:w-[30%]">{{ patient.lastName}}</td>
    </tr>
    <tr
      class="flex flex-row flex-wrap gap-1 lg:gap-0 justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
      <th class="text-start w-[40%] lg:w-[20%]">Date de naissance</th>
      <td class="text-start w-[45%] lg:w-[30%]">{{ patient.birthDate|date("d/m/Y") }}</td>
      <th class="text-start w-[40%] lg:w-[20%]">Sèxe</th>
      <td class="text-start w-[45%] lg:w-[30%]">{{ patient.sex }}</td>
    </tr>
    <tr
      class="flex flex-row flex-wrap gap-1 lg:gap-0 justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
      <th class="text-start w-[40%] lg:w-[20%]">Education</th>
      <td class="text-start w-[45%] lg:w-[30%]">{{ patient.grade }}</td>
      <th class="text-start w-[40%] lg:w-[20%]">Status</th>
      <td class="text-start w-[45%] lg:w-[30%]">
        {% if patient.isActive %}
        <svg class="w-6 h-6 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
          viewBox="0 0 20 20">
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
        </svg>
        {% else %}
        <svg class="cursor-pointer w-6 h-6 text-red-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path fill-rule="evenodd"
            d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
            clip-rule="evenodd" />
        </svg>
        {% endif %}
      </td>
    </tr>
    <tr class="flex flex-row flex-wrap justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
      <td class="w-full">
        <table class="table w-full">
          <thead>
            <tr class="  border-b">
              <th class="text-lg p-2">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr class="flex flex-row justify-start items-center text-sm sm:text-base py-4 border-b">
              <th class="text-center md:text-start w-1/3">Estimation</th>
              <th class="text-center md:text-start w-1/3">Commentaire</th>
              {% if patient.isActive %}
              <th class="relative w-1/3 bg-pbg hover:bg-pred transition duration-150 ease-in-out rounded-xl group">
                <a href="{{ path( 'therapist_patients_note_create', { code: code } )  }}"
                  class="w-full flex justify-center items-center">
                  <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                    height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                  </svg>
                </a>
                <div
                  class="hidden group-hover:block absolute bottom-[100%] right-0 rounded-lg py-1 px-1 cursor-default">
                  <p class="text-xs">
                    Créer une nouvelle note
                  </p>
                </div>
              </th>
              {% else %}
              <th class="text-center md:text-start w-1/3">Date</th>
              {% endif %}
            </tr>
            {% for note in notes %}
            <tr
              class="flex flex-row flex-wrap justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
              <td class="text-center w-1/3 ">
                <div
                  class="rounded-md border mx-2 md:mx-0 md:mr-4 {{ note.estimation == 'initial' ? 'bg-blue-400 border-blue-800' : note.estimation == 'stable' ?  'bg-yellow-400 border-yellow-800' : note.estimation == 'progress' ? 'bg-green-400 border-green-800' : 'bg-red-400 border-red-800' }}">
                  {{ note.estimation}}
                </div>
              </td>
              <td class="text-center md:text-start w-1/3">{{ note.comment|slice(0, 30)}}...</td>
              <td class="text-center md:text-start w-1/3">{{ note.createdAt|date('d/m/Y')}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>