<div
    class="w-full mt-3 md:mt-0 md:ml-3 p-4 bg-[#ffffff80] shadow-inset-5/5 rounded-xl border border-solid border-t-[#ffffff59] border-l-[#ffffff59] border-r-[#dedfe059] border-b-[#dedfe059]">
    <table class="table w-full">
        <tbody class="">
            <tr>
                <th class="text-start">Nom</th>
                <td class="text-start">{{ app.user.lastName}}</td>
            </tr>
            <tr>
                <th class="text-start">Prénom</th>
                <td class="text-start">{{ app.user.firstName}}</td>
            </tr>
            <tr class="">
                <th class="text-start">Fonction</th>
                <td class="text-start">{{ app.user.job }}</td>
            </tr>
            <tr class="">
                <th class="text-start">Institution</th>
                <td class="text-start">{{ app.user.institution.name }}</td>
            </tr>
            <tr class="">
                <th class="text-start">Email</th>
                <td class="text-start">{{ app.user.email }}</td>
                <td class="relative group text-center">
                    {% if app.user.isVerified %}
                    <svg class="w-6 h-6 text-green-500" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                    </svg>
                    {% else %}
                    <svg class="cursor-pointer w-6 h-6 text-red-600" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                            d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v5a1 1 0 1 0 2 0V8Zm-1 7a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
                            clip-rule="evenodd" />
                    </svg>
                    <div class="hidden group-hover:block absolute bottom-6 right-0 w-72 rounded-lg alert-danger p-4">
                        <p class="text-red-800">Votre email n'est pas vérifié.</p>
                        <a class="font-semibold" href="{{ path('app_verify_email_resend') }}">Renvoyer l'email de vérification</a>
                    </div>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-end mt-5">
        <a {# href="{{ path('admin_edit') }}" #} href="" class="btn btn-sm d-none d-md-inline">Modifier mon
            profil</a>
        <a {# href="{{ path('delete_user_form') }}" #} href="" class="btn btn-sm d-none d-md-inline">Supprimer
            mon
            profil</a>
    </div>
</div>