<div
  class="w-full mt-3 md:mt-0 md:ml-3 p-4 bg-[#ffffff80] shadow-inset-5/5 rounded-xl border border-solid border-t-[#ffffff59] border-l-[#ffffff59] border-r-[#dedfe059] border-b-[#dedfe059]">
  <table class="table w-full">
    <tbody class="">
      {% for patient in patients %}
      <tr>
        <th class="text-start">{{ patient.firstName }} {{patient.lastName}}</th>
        <td class="text-start">{{ patient.birthDate|date("Y-m-d") }}</td>
        <td class="text-start">{{ patient.schoolGrade}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-end mt-5">
    <a href="{{ path('admin_profile_edit') }}" class="btn btn-sm d-none d-md-inline">Modifier mon
      profil</a>
    <a href="{{ path('admin_profile_delete') }}" class="btn btn-sm d-none d-md-inline">Supprimer
      mon
      profil</a>
  </div>
</div>