{% extends 'base.html.twig' %}

{% block title %}
Session with {{ app.session.get('patient').firstName }} {{ app.session.get('patient').lastName }}
{% endblock %}

{% block body %}
<div class="sm:h-screen bg-pbg relative">
    {# index page of session #}
    {% if app.request.getPathInfo == path('app_therapist_session_index') %}
    <div
        class="flex flex-col justify-between items-center w-full sm:w-5/6 md:w-4/5 lg:w-2/3 xl:w-1/2 h-full bg-pform sm:rounded-xl overflow-hidden ml-auto mr-auto p-4">
        {% include "session/_header.html.twig" %}
        <div class="flex flex-col gap-10 justify-center items-center w-full p-4 md:p-8 lg:p-12 bg-[#e5e9ec]">
            {% include "session/_index_section.html.twig" with {
            path: 'app_therapist_session_dialogue',
            title: 'Dialogue' } %}
            {% include "session/_index_section.html.twig" with {
            path: 'app_therapist_session_exchange',
            title: 'Echange' } %}
            {% include "session/_index_section.html.twig" with {
            path: 'app_therapist_session_game',
            title: 'Jeu de mémoire' } %}
        </div>
        <div></div>
        <div class="flex justify-center items-center w-full bg-pform sm:rounded-xl overflow-hidden ml-auto mr-auto p-4">
            {% include "session/_index_section.html.twig" with {
            path: 'app_therapist_session_exit',
            title: 'Quitter la session' } %}
        </div>
    </div>
    {# differents session modes (exchange, dialogue or game) #}
    {% else %}
    <div class="pr-40 pt-5 w-full">
        {% if app.request.getPathInfo == path('app_therapist_session_exchange') %}

        {% set i = 0 %}
        <div data-controller="sliderCat" id="category" class=" overflow-hidden">
            <div id="category-slider" class="keen-slider mb-5">
                {% for cat in superCats %}
                <div class="keen-slider__slide min-w-24 min-h-24 p-3" data-slide="{{ i }}" id="{{ cat.id }}">
                    <a class=" flex justify-center items-center rounded-2xl overflow-hidden"
                        href="{{ path('app_therapist_session_exchange', { category: cat.id, subcategory: 'none' }) }}">
                        <img src="{{ asset('img/cat/' ~ cat.filename) }}" alt="{{ cat.filename }}"
                            class="aspect-square">
                    </a>
                </div>
                {% set i = i + 1 %}
                {% endfor %}
            </div>
        </div>
        
        {% set i = 0 %}
        {% if subCats|length is not same as(0) %}
        <div data-controller="sliderSubcat" id="subcategory" class=" overflow-hidden">
            <div id="subcategory-slider" class="keen-slider mb-5">
                {% for scat in subCats %}
                <div class="keen-slider__slide min-w-24 min-h-24 p-3" data-slide="{{ i }}" id="{{ scat.id }}">
                    <a class=" flex justify-center items-center rounded-2xl overflow-hidden"
                        href="{{ path('app_therapist_session_exchange', { category: catFilter, subcategory: scat.id }) }}">
                        <img src="{{ asset('img/cat/' ~ scat.filename) }}" alt="{{ scat.filename }}">
                    </a>
                </div>
                {% set i = i + 1 %}
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if pictograms|length is not same as(0) %}
        <div data-controller="sliderPicto" id="picto" class="overflow-hidden">
            <div id="pictogram-slider" class="keen-slider">
                {% for picto in pictograms %}
                <div class="keen-slider__slide min-w-24 min-h-24 p-3">
                    {# <a href="{{ path('app_therapist_session_exchange', { category: catFilter, subcategory: subcatFilter }) }}" #}
                        {# class=" flex justify-center items-center rounded-2xl overflow-hidden"> #}
                        <div class=" flex justify-center items-center rounded-2xl overflow-hidden cursor-grab">
                            <img src="{{ asset('img/picto/' ~ picto.filename) }}" alt="{{ picto.filename }}">
                        </div>                        
                    {# </a> #}
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>
    {% endif %}

    {# sidebar to operate #}
    {% include "session/_section_sidebar.html.twig" %}
    {% endif %}

</div>
{% endblock %}