<button id="{{ entity }}" data-dropdown-toggle="{{ entity }}dropdown"
    class="w-auto btn-a-table text-white h-5"
    type="button">{{ entity }} <svg class="w-2.5 h-2.5 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
    </svg>
</button>

<!-- Dropdown menu -->
<div id="{{ entity }}dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-auto max-h-80 overflow-auto">
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="{{ entity }}">
        {% for item in array %}
        <li>
            <a href="{{ path('therapist_pictograms_get_all', { sortBy, sortDir, page: 1, filter, value: item.title }) }}"
                class="block px-4 py-2 hover:bg-gray-100 text-start">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>