<table class="table w-full">
  <tbody class="flex flex-col gap-2">
    <tr class="flex flex-col md:flex-row justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
      <th class="text-start md:w-1/4">Prénom</th>
      <td class="text-start md:w-1/3">{{ patient.firstName}}</td>
    </tr>
    <tr class="flex flex-col md:flex-row justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
      <th class="text-start md:w-1/4">Nom</th>
      <td class="text-start md:w-1/3">{{ patient.lastName}}</td>
    </tr>
    <tr class="flex flex-col md:flex-row justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
      <th class="text-start md:w-1/4">Date de naissance</th>
      <td class="text-start md:w-1/3">{{ patient.birthDate|date("Y-m-d") }}</td>
    </tr>
    <tr class="flex flex-col md:flex-row justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
      <th class="text-start md:w-1/4">Education</th>
      <td class="text-center md:text-start md:w-1/3">{{ patient.grade }}</td>
    </tr>
    <tr class="flex flex-col md:flex-row justify-start items-start md:items-center text-sm sm:text-base p-2 border-b">
      <th class="text-start md:w-1/4">Sèxe</th>
      <td class="text-center md:text-start md:w-1/3">{{ patient.sex }}</td>
    </tr>
  </tbody>
</table>
{% include "/therapist/_pagination.html.twig" with {path: 'therapist_patients'} %}